<h1>Bienvenido a PlayPlanet</h1>

{{#each productos}}
        <ul>
            <li>{{title}}</li>
        </ul>
{{/each}}

<a href="/api/products">Productos</a>
<a href="/realTimeProducts">Real Time</a>
